<head>
  <meta charset="UTF-8">
  <title>Olá Mundo!</title>
  <link rel="stylesheet" type="text/css" href="hello.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
</head>
<body>
  <div class="corpo">
    <h1 id="title">Olá mundo!</h1>
    <h2>Animaizinhos</h2>
    <span>oi</span>
    <br>
    <ol class="lista" type='a'>
      <li class="item">Peixe Beta</li>
      <li class="item">Lobo</li>
      <li>Leão</li>
    </ol>
    <h1 class="stephany">sou absoluta</h1>
    <input type="checkbox" name="" id="oi">
  </div>
</body>
</html>