body {
    margin: 0;
}

.otaku-header {
    background-image: url("https://images5.alphacoders.com/532/thumb-1920-532559.jpg");
    background-position: top;
    background-size: cover;

    color: white;

    position: sticky;
    top: 0;
    padding: 2rem 2rem;

    font-family: 'ZCOOL KuaiLe', cursive;
}

.otaku-header h1 {
    display: inline;
}

.otaku-header a {
    margin-left: 2rem;
    color: white;
    font-size: 1.2em;
}

.otaku-main {
    height: 160vh;
    padding: 1.5rem;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}


.otaku-bio {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.otaku-bio h4 {
    margin: 0;
}


.profile-pic {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/6/60/KyubeyMadokaMagica.png");
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.favorite-animes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: #333;
    padding: 2rem 5rem;
}

.anime-card {
    padding: 2em;
    width: 9rem;
    height: 8rem;

    text-align: center;
    font-weight: bold;
    color: white;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;

    border: 0.2rem solid black;

}

.anime-card a {
    color: white;
}

#card1 {
    background-image: url("https://images5.alphacoders.com/313/thumb-1920-313026.jpg");
}

#card2 {
    background-image: url("https://images4.alphacoders.com/775/thumb-1920-775477.jpg");
}

#card3 {
    background-image: url("https://images8.alphacoders.com/736/736903.jpg");
}

#card4 {
    background-image: url("https://images4.alphacoders.com/476/thumb-1920-47698.png");
}

.teste {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

}